<app-navbar></app-navbar>

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">
            HELLO ADMIN!!
        </h1>
        <p>
            Please Select Your Option Below!!
        </p>
        <hr>
    </div>

    <div class="row justify-content-center">
        <a [routerLink]="['/customers/approvallist']" role="button" class="btn btn-primary" style="width: 300px;"><span>Pending Loan Action</span></a>
        &nbsp;
        <a [routerLink]="['/customers/assignloanofficer']" role="button" class="btn btn-primary" style="width: 300px;"><span>Assign Loan Officer</span></a>
    </div>
</div>