.custom-margin{
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}


.custom-margin-search{
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    border-radius: 20px;
}

.custom-margin-button{
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    border-radius: 20px;
}

.custom-page{
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    //border-radius: 20px;
}